<div class="container my-5">
    <div class="row">
        <div class="col-md-6">
           <p>Para nosotros es un placer atenderte. Por eso, te ofrecemos diferentes medios para responder a cada una de tus dudas e inquietudes de la manera que más te 
            convenga. Ingresa la información y pronto estaremos en contacto contigo.
        </p>
        </div>
        <div class="col-md-6">
            <p> <i class="bi bi-geo-alt"></i> Miraflores - Lima - Peru</p> 
            <p> <i class="bi bi-telephone-fill"></i> (01) 270-1446 Cel: (51) 98909-4719 </p>
            <p> <i class="bi bi-envelope-fill"></i> ventas@noebernacelli.com</p> 
        </div>
    </div>
</div>